body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.hero {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-size: cover;
  color: white;
}
.hero h1 h2 {
  font-weight: bold;
}
.hero h1{
  font-size: 70px;
}
.hero h2 {
  font-size: 23px;
}
.navigation {
  font-size: 18px;
  color: white;
}
.supporting h2 {
  font-size: 32px;
}
.supporting h3 {
  font-size: 23px;
}
.supporting-item {
  font-weight: normal;
  font-size: 14px;
}
.footer {
  background-color: dimgray;
  text-align: left;
  padding-left: 5px;
  color: white;
  font-size: 11px;
}
